*{
    box-sizing: border-box;
    font-family: Montserrat;
    scroll-behavior: smooth;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.about-info{
    margin: 40px 0 280px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.time-line-cont{
    padding: 60px 0 0;
    position: relative;
}
.time-line-stage{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 80px;
}
.time-line-stage:before{
    content: '';
    width: 2px;
    height: 100%;
    background: #909090;
    position: absolute;
    top: 33px;
    left: 10px;
    bottom: 0;
}
.time-line{
    margin: 0 0 40px;
    border-radius: 6px;
    position: relative;
}
.time-line-block{
    display: inline-block;
    padding: 0px 0 0 25%;
}
.time-line-block>strong{
    width: 75px;
    display: block;
    margin: 0 0 10px;
    font-size: 18px;
    position: absolute;
    left: 0;
    font-weight: 900;
    line-height: 1.4;
    top: -60px;
    text-align: right;
}
.time-line-block>span{
   /*  width: 100%; */
    display: block;
    margin: 0 0 10px;
    font-size: 17px;
    padding: 13px 11px;
    font-weight: 600;
    width: 200px;
    /* display: none; */
    position: absolute;
    /* background: #0f0f0f; */
    top: 0px;
    left: 115px;
    z-index: 22;
    border-radius: 15px;
    /* border: 2px solid #92c815; */
    /* color: #ffffff; */
    /* box-shadow: 0px 0px 35px -16px #000; */
    text-align: right;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.time-line-block>p{
    font-size: 16px;
    margin: 0px 0 0 22%;
    height: 240px;
    display: flex;
    align-items: center;
    line-height: 1.9;
    padding: 0 15% 0 0;
}
.time-line-block-img{
    height: 240px;
    border-radius: 17px;
    width: 18%;
    float: left;
}
.time-line-block-img img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    max-height: 240px;
    border-radius: 17px;
    box-shadow: 0px 0px 35px -16px #000;
}
.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.prx-02{
height: 400px;
}

.h3{
    font-size: 14px;
    font-weight: 600;
    /* text-transform: uppercase; */
    max-width: 600px;
    line-height: 1.3;
    /* text-orientation: upright; */
    width: 63px;
    writing-mode: vertical-lr;
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    letter-spacing: 4px;
    opacity: .6;
}
.footer{
    background-color: #ffffff;
    padding: 6rem 1.5rem 6rem;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.circle.circle-purple {
    border: 10px solid #e4d4e9;
    opacity: .1;
    width: 4vw;
    height: 4vw;
    left: 6%;
    top: 25%;
}
.circle.circle-purple-3 {
    background-color: #e4d4e9;
    opacity: .1;
    width: 2vw;
    height: 2vw;
    left: 16%;
    bottom: 17%;
}
.circle.circle-purple-2 {
    border: 15px solid #e4d4e9;
    opacity: .1;
    width: 8vw;
    height: 8vw;
    right: 10%;
    bottom: 17%;
}
.container-kinesis-info{
    position: relative;
}
.more-info{
    margin: 150px 0 100px;
}
.more-info-block{
    max-width: 1050px;
    margin: 0 auto;
}
.more-info .more-info-block .vcpg{
border: none;
border-bottom: 1px solid var(--border-color);
    border-radius: 0px;
}
.more-info-block .vcpg .vcp__header {
    background: #fff !important;
    padding: 45px 50px;
}
.kinesis-desc h1 .manuf-denmarc span{
    font-size: 14px;
    font-weight: 500;
    width: auto;
}
.circle{
    border-radius: 100%;
    position: absolute;
}
.circle.circle-blue{
    background-color: #eaf1fa;
    width: 32vw;
    height: 32vw;
    top: 5%;
    right: -16vw;
}
.circle.circle-purple {
    border: 25px solid #f2eafa;
    width: 16vw;
    height: 16vw;
    left: 50%;
}
.circle.circle-yellow {
    background-color: #faf9ea;
    width: 8vw;
    height: 8vw;
    left: 30%;
    top: 25%;
}
.kinesis-desc{
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 1.5;
}
.circle.circle-green {
    background-color: #eafaf2;
    width: 10vw;
    height: 10vw;
    right: 20%;
    top: 90%;
}
.circle.circle-orange{
    border: 25px solid #faf3ea;
    width: 8vw;
    height: 8vw;
    left: 20%;
    top: 60%;
}
.circle.circle-red {
    background-color: #faeaea;
    width: 12vw;
    height: 12vw;
    left: -4.8vw;
    top: 25%;
}
.kinesis-desc h1 strong{
    font-size: 66px;
    font-weight: 800;
}
.kinesis-desc h1 span{
    font-size: 33px;
    width: 100%;
    float: left;
    font-weight: 600;
}
.kinesis-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.kinesis-img img{
    padding: 5%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.kinesis-desc-logo{
    width: 78px;
    display: inline-block;
    position: absolute;
    /* top: 10%; */
    bottom: 11%;
    right: 18%;
}
.container-kinesis{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    position: relative;
    padding: 0 0 8%;
}
.container-kinesis .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.modal-wraper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0;
    z-index: 1072;
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-b-svg{
    padding: 7px;
    height: 46px !important;
    width: 41px !important;
    border-radius: 32px;
}
.r-50{
    border-radius: 50%;
}
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
}
.modal-mask{
    position: absolute;
    z-index: 1071;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.modal-container{
    margin: 50px auto;
    max-width: 840px;
    /* position: relative; */
    background: #fff;
    padding: 0px 0 0px;
    border-radius: 16px;
    display: block;
}
.modal-open{
    overflow: hidden;
    padding: 0 17px 0 0;
}
.logotip{
    padding: 20px 0 20px;
}
.logotip>strong{
    /* color: #213b74; */
    color: #b8c70a;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0;
}
.logotip>span{
    float: left;
    width: 100%;
    font-size: 11px;
    color: #f90;
    font-weight: 600;
    position: relative;
}
.logotip>span svg{
    position: absolute;
    left: 43px;
    font-size: 13px;
    height: 13px;
    top: -1px;
}
.PhotoSlider__FooterWrap{
    display: none;
}
.PhotoConsumer{
    position: relative;
}
.modal-zoom-svg{
    position: absolute;
    right: 15px;
    color: #ffffff;
    bottom: 15px;
    background: #919191;
    border-radius: 50%;
    padding: 4px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}
.modal-zoom-svg:hover{
    transition: .2s;
    background: #686868;
}
.hero-body-slider{

}
.hero-body-slider img{
    padding: 10px;
    -o-object-fit: contain;
    object-fit: contain;
    height: 100px;
    width: 100px;
    background: #fff;
    border-radius: 18px;
    margin: 0 10px 0 0;
}
.hero-body .title{
    font-size: 1.3rem;
    padding: 0 20px 0 0;
    display: inline-block;
    line-height: 1.4;
    max-width: 80%;
}
.vcp__header-icon svg {
    opacity: 0.5;
    height: 22px !important;
    top: 2px;
    position: relative;
}
.vpl_body-content{
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
    border-bottom: 1px dashed #e9e9e9;
}
.vcpg .vcp__header{
    background: #fff !important;
    padding: 35px 50px;
}
.vcp__body-content{
    padding: 20px 50px !important;
}
.vcp__body-content span{
    font-size: 14px;
}
.vcp__body-content strong{
    font-size: 14px;
    font-weight: 500;
}
.product-desc{
    padding: 50px;
    line-height: 1.5;
    font-size: 14px;
}
.product-desc p {
    margin: 0 0 10px;
}
.product-desc ul {
    padding: 10px 0 0 15px;
}
.product-desc ul li{
    list-style: circle;
    margin: 0 0 10px;
}
.modal-header .hero.is-primary {
    background-color: #00d1b2;
    color: #fff;
    border-radius: 15px 15px 0 0px;
}
.modal-header .hero-body{
    position: relative;
}
.modal-header button.delete{
    position: absolute;
    right: 50px;
    top: 50px;
}
.product-links{
    margin: 0 0 25px 25px;
}
.catalog-list-desc-slide{
    font-size: 13px;
    padding: 30px 10% 0 10%;
    display: flex;
    line-height: 1.6;
    font-weight: 500;
    text-align: left;
    width: 88%;
    height: 100px;
}
.img-first{
    height: 360px !important;
    margin: 0 !important;
    min-width: 420px !important;
    width: 420px !important;
    border-radius: 32px !important;
}
.slider-product .swiper-slide{
    display: flex;
    /* justify-content: center; */
    cursor: pointer;
    flex-direction: column;
    align-items: center;
}
.img-first img{
    padding: 30px !important;
    border-radius: 32px !important;
}
.img-first .catalog-list-img-bg{
    border-radius: 32px !important;
    background-color: #ffffff;
    box-shadow: none;
}
.slid-item{
    padding: 50px 0 100px;
}
.swiper-button-prev{
    left: var(--swiper-navigation-sides-offset,40px);
}
.swiper-button-next{
    right: var(--swiper-navigation-sides-offset,40px);
}
.swiper-button-next, .swiper-button-prev{
    box-shadow: 0 0 9px -7px #333;
    background: #fff;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;

}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 16px !important;
    color: #333;
}
.slider-product{
    width: 82%;
    /* padding: 0 10px; */
    margin: 0 auto;
}
.swiper-wrapper{
    padding: 30px 0 0 0;
}
.swiper-pagination{
    width: 80px !important;
    top: 2% !important;
    bottom: auto !important;
}
.yellowgreenposition{
    top: -100px;
    left: -70px;
}
.yellowgreencolor{
    background-color: #d8f235;
    width: 90px;
    height: 90px;
    border-radius: 100%;
}
.circle {
    border-radius: 100%;
    position: absolute;
}
.darkgreenposition{
    top: -87px;
    left: -53px;
}
.darkgreencolor{
    background-color: #19ad9b;
    width: 170px;
    height: 170px;
    border-radius: 100%;
}
.brightgreencolor{
    border: 4px solid #00bfbf;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    right: -22px;
    bottom: -26px;
    box-shadow: inset 0px 0px 33px -32px #00bfbf;
    background: transparent;
}
.smooth {
    -webkit-transition: -webkit-transform .1s;
    transition: -webkit-transform .1s;
    transition: transform .1s;
    transition: transform .1s,-webkit-transform .1s;
}
.catalog-list-block{
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 0px 25px 0px 0px;
    cursor: pointer;
    position: relative;
    margin: 0 0 10px;
    justify-content: center;
}
.catalog-list-img{
    height: 140px;
    margin: 0px auto;
    min-width: 150px;
    width: 88%;
    position: relative;
}
.catalog-list-img img{
    max-width: 100%;
    max-height: 100%;
    padding: 25px;
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 24px;
}
.catalog-list-img-bg{
    background-color: #b8c70a;
    background-color: #0f0f0f; 
    bottom: 0;
    content: "";
    left: 0;
    opacity: .04;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 25px;
    box-shadow: 0px 0px 35px -16px #000;
}
.catalog-list-block-desc{
    margin: 0 0 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.catalog-list-block-desc strong{
    font-weight: 900;
    font-size: 23px;
    line-height: 1.5;
    max-width: 440px;
    margin: 0 0 0 25px;
}
@media (max-width: 1410px){
    .time-line .time-line-block>span{
        width: 15%;
    }
    .kinesis-desc h1>span{
        font-size: 27px !important;
    }
}
@media (max-width: 1215px){
    .time-line .time-line-block>span{
        font-size: 14px;
    }
    .time-line .time-line-block {
        padding: 0px 0 0 28%;
    }
    .time-line .time-line-block-img{
        width: 25%;
    }
    .time-line .time-line-block>p {
        font-size: 15px;
        margin: 0px 0 0 30%;
        height: auto;
        padding: 0 10% 0 0;
    }
    .kinesis-desc h1 strong {
        font-size: 55px !important;
    }
    .kinesis-desc h1>span{
        font-size: 20px !important;
    }
    .kinesis-img img{
        padding: 10% !important;
    }
    .about-info{
        margin: 40px 0 180px;
    }
}
@media (max-width: 1023px){
    .h3 {
        font-size: 17px;
        font-weight: 700;
        text-align: left;
        margin: 40px 15px 20px;
        text-transform: uppercase;
        max-width: 600px;
        line-height: 1.3;
        position: relative;
        writing-mode: unset;
        width: auto;
    }
    .container-kinesis {
        padding: 0% 0%!important;
        height: 90vh !important;
    }
    .darkgreenposition {
        top: -40px !important;
        left: 4px !important;
        display: none;
    }
    .yellowgreenposition {
        top: -85px !important;
        left: 6px !important;
        display: none;
    }
    .container-kinesis-info {
        position: relative;
        padding: 0 0px !important;
    }
    .kinesis-desc .kinesis-desc h1>span{
        font-size: 22px !important;
    }
    .more-info {
        margin: 20px 0 0px !important;
        padding: 0 15px 0;
    }
}
@media (max-width: 910px){
    .logotip {
        padding: 20px 20px 20px !important;
        display: block !important;
    }
    .time-line .time-line-block>span {
        font-size: 15px;
        position: relative;
        height: auto;
        text-align: left;
        width: 100%;
        display: block;
        margin: 0 0 0 0;
        left: 0;
        padding: 20px 0;
    }
    .time-line .time-line-block {
        padding: 0px 0 0 5%;
    }
    .time-line .time-line-stage {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 10px;
    }
    .time-line .time-line-block>strong {
        margin: 0 0 10px;
        font-size: 14px;
        left: 0;
        font-weight: 900;
        top: -55px;
        text-align: left;
        left: 40px;
    }
    .kinesis-desc h1 strong {
        font-size: 35px !important;
    }
    .kinesis-desc h1>span{
        font-size: 15px !important;
    }
    .kinesis-img img{
        padding: 10% !important;
    }
    .slid-item .catalog-list-block-desc {
        margin: 0 0 0 20px;
    }
    .modal-container {
        margin: 20px 10px !important;
    }
    .product-char .vcp__body-content {
        padding: 20px 20px !important;
    }
    .product-char .vcpg .vcp__header {
        background: #fff !important;
        padding: 35px 20px;
    }
    .product-char .vcp__body-content {
        padding: 20px 20px !important;
    }
}
@media (max-width: 720px){
    .catalog-list-block>strong{
        margin: 0 0 0px;
        font-size: 14px;
        line-height: 1.7;
        position: absolute;
        z-index: 12;
        width: 140px;
        height: 230px;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        text-align: left;
        font-weight: 500;
    }
    .more-info .more-info-block .vcpg .vcp__header {
        padding: 30px 20px !important;
        background: transparent !important;
    }
    .product-desc {
        padding: 20px !important;
    }
    .hero-body {
        padding: 20px 20px !important;
    }
    .hero-body .title {
        padding: 0 25px 0 0  !important;
        font-size: 17px  !important;
    }
    .modal-header button.delete {
        right: 15px !important;
        top: 15px !important;
    }
    .more-info {
        margin: 20px 0 0px !important;
        padding: 0 15px 0;
    }
    .slid-item {
        padding: 0px 15px 25px !important;
    }
    .about-info{
        margin: 0px 0 60px;
    }
    .slider-product {
        width: 100% !important;
        padding: 0 20px !important;
    }
    .slider-product .catalog-list-img {
        height: 140px;
        min-width: 150px;
        width: 100%;
        padding: 0 5px 0;
        
    }
    .swiper-button-next {
        right: var(--swiper-navigation-sides-offset,8px) !important;
    }
    .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset,8px) !important;
    }
    .swiper-button-next, .swiper-button-prev {
        top: var(--swiper-navigation-top-offset,10%) !important;
    }
    .slid-item .brightgreencolor{
        display: none;
    }
    .slid-item .catalog-list-block{
        flex-direction: column;
        padding: 0px 0px 0px 0px;
        margin: 0;
    }
    .slid-item .product-links {
        margin: 0 0 0px 0px;
    }
    .slid-item .catalog-list-block-desc strong {
        font-weight: 900;
        font-size: 18px;
        line-height: 1.5;
        max-width:100%;
        margin: 0 0 0 15px;
        padding: 0 15px 0 0;
    }
    .slid-item .img-first {
        height: 230px !important;
        margin: 0 !important;
        min-width: 100% !important;
        width: 100% !important;
        border-radius: 32px !important;
        padding: 0 0px 0 60px !important;
    }
    .slid-item .catalog-list-block-desc {
        margin: 0 0 0 0px;
    }  
    .slider-product .catalog-list-desc-slide {
        font-size: 12px;
        padding: 20px 5% 0 5%;
        display: flex;
        line-height: 1.6;
        font-weight: 500;
        text-align: left;
        width: 100%;
    }     
}
@media (max-width: 520px){
    h1{
        text-align: center;
    }
    .kinesis-desc .manuf-denmarc {
        font-size: 11px !important;
        max-width: 300px;
        margin: 0 auto;
    }
    .container-kinesis .container {
        justify-content: center !important;
        flex-direction: column !important;
    }
    .container-kinesis .kinesis-desc{
        margin: 0 0 20px 0;
        padding: 0 10px 0;
    }
    .container-kinesis .kinesis-img img {
        padding: 10% !important;
        max-height: 235px !important;
        margin: 20px 0 0 0;
    }
    .time-line {
        margin: 0 0 20px !important;
    }
    .time-line .time-line-block>strong{
        top: -35px;
    }
    .time-line .time-line-cont {
        padding: 40px 0 0;
        position: relative;
    }
    .time-line-block>strong{
        top: -35px;
    }
    .time-line .time-line-block>span{
        padding: 0px 20px 15px;
        transition-timing-function: cubic-bezier(0, 0, 0, 0 ) !important;
        transform: translate3d(0px, 0px, 0px) !important;
    }
    .time-line .time-line-block-img {
        width: 100%;
        padding: 0 20px;
        height: 140px;
        margin: 0 0 15px;
        transition-timing-function: cubic-bezier(0, 0, 0, 0 ) !important;
        transform: translate3d(0px, 0px, 0px) !important;
    }
    .time-line .time-line-block>p {
        font-size: 14px;
        margin: 0px 0 0 0%;
        height: auto;
        padding: 0 20px 0;
    }
    .time-line .time-line-stage:before {
        height: 98%;
        top: 28px;
    }
    .container-kinesis .circle.circle-blue{
        right: 16vw !important;
        opacity: .3;
    }
    .container-kinesis .circle.circle-red {
        left: 4.8vw !important;
        top: 25%;
    }
}